.point-navigationA,
.point-navigationB,
.point-navigationC{
    position: fixed;
    z-index: 99;
    height: 10px;
    width: 10px;
    background:#c8b7b5;
    border-radius:50%;
    border:0px solid #c8b7b5; 
}

.point-navigationA{
    top: 40%;
    left: 95%;
    transition: .5s;
}

.point-navigationB{
    top: 50%;
    left: 95%;
    transition: .5s;
}

.point-navigationC{
    top: 60%;
    left: 95%;
    transition: .5s;
}

.point-navigationA:hover,
.point-navigationB:hover,
.point-navigationC:hover{
    left: 94.5%;
    width: 20px;
    height: 20px;
    transition: .5s;
}

