body{
    overflow: hidden;
}

html{
    scroll-behavior: smooth;
}

.presentation{
    width: 100%;
    height: 107vh;
}

.contact{
    width: 100%;
    height: 100vh;
    background-color: #FFF7E7;
}

#presentation{
    height: 100vh;
    background-color: #efe5dc;
    display: flex;
    flex-wrap: wrap;
}

#presentation h1{
    margin: 10vh;
    font-size: 4vw;
}

#presentation:target, #contact:target{
    font-size: 3vw;
    transform: translateX(-100rem);
    animation: slideIn 1.5s forwards;
}


#presentation p{
    transition: .5s;
    text-indent: 2.8px;
    line-height: 4.3vh;
    margin: 5vw;
    width: 40%;
    font-size: 1.2vw;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 3vh;
}


.fondateurs{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60vh;
    margin-top: 8vh;
    border-left: 1px solid black;
}

.fondateurs img{
    margin-left: 35%;
    object-fit: cover;
    object-position: 15% 17%;
    border-radius: 50%;
    height: 18vh;
    width: 18vh;
}

.fondateurs div{
    transition: .5s;
    text-indent: 2.8vh;
    line-height: 4.3vh;
    margin-top: 3vw;
    margin-left: 5vw;
    margin-right: 7vw;
    font-size: 1.2vw;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 3vh;
}


form{
    top: 10vw;
    margin: 10vw;
    width: 80vw;
    max-width: 820px;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2,1fr);
    z-index: 100;
    position: relative;
}


.formulaire{
    background-color: #BFA6A2;
    position: relative;
}

::placeholder{
    color: white;
    opacity: 0.5;
}


.formulaire::before{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #BFA6A2;
    transform: rotate(45deg);
    top: 50px;
    left:-13px;
}

.titre{
    color: white;
    margin: 4vh;
    padding-left: 5.5vw;
    font-weight: 500;
    font-size: 4.5vh;
    line-height: 1;
}


input,textarea{
    padding: 0.6rem 1.2rem;
    background: none;
    margin: 3vh;
    width: 50vh;
    outline: none;
    max-height: 400px;
    border: 2px solid white;
    color: white;
    font-weight: 500;
    font-size: 2vh;
    letter-spacing: .5px;
    border-radius: 25px;
    transition: 0.5s;
}

button{
    padding: 0.6rem 1.3rem;
    font-size: 2.3vh;
    margin: 3vh;
    font-weight: bold;
    background-color: white;
    border: 2px solid #fafafa;
    color: #BFA6A2;
    line-height: 1.5;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

button:hover{
    background-color: transparent;
    color: white;
}

.error{
    border: 2px solid red;
    animation: fadeOut;
    animation-duration: 6s;
    transition: .5s;
}

.style{
    background-color: #c8b7b5;
}