*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 10px;
    font-family: "Roboto Cn", sans-serif;
    scroll-behavior: smooth;
}

body{
    overflow: hidden;
}

a{
    text-decoration: none;
    color: black;
}

header{
    width: 100%;
    height: 107vh;
    background-color:#f9e8e6;
    background-size: cover;
}

.navigation{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

nav{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6vw;
}

.logo{
    font-size: 3rem;
    font-weight: 300;
    transform: translateX(-100rem);
    animation: slideIn 0.5s forwards;
}
 
.logo span{
    color:#c8b7b5;
}

nav ul{
    display: flex;
    top: 20px;
}

nav ul li{
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn  0.5s forwards;
}

nav ul li:nth-child(1){
    animation-delay: .5s;
}

nav ul li:nth-child(2){
    animation-delay: 1s;
}

nav ul li:nth-child(3){
    animation-delay: 1.5s;
}

nav ul li a{
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;

}

nav ul li a:last-child{
    margin-right: 0;
}

nav ul li a::before, nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #c8b7b5;
    left: 0;
    transform: scaleX(0);
    transition: all 0.5s;
}

nav ul li a::before{
    top: 0;
    transform-origin: left;
}

nav ul li a::after{ 
    bottom: 0;
    transform-origin: right;
}

nav ul li a:hover::before, nav ul li a:hover::after{
    transform: scaleX(1);
}

.texte{
    top: 50%;
    left: 20%;
    position: absolute;
    overflow: visible;
    opacity: 0.2;
    display: block;
    font-size: 1.61vw;
    animation: fadeInText;
    animation-duration: 1s;
    transition: .5s;
}

.location{
    display: block;
    position: absolute;
    top: 90%;
    font-size: 0.9vw;
    animation: fadeIn;
    animation-duration: 3s;

}

.texte:hover{
    opacity: 1;
    transition: .5s;
    font-size: 4.02vw;
    top: 40%;
}

.cercle{
    display: block;
    position: absolute;
    top: 30%;
    left: 32%;
    height: 36vw;
    width: 36vw;
    min-width: 15vw;
    min-height: 15vw;
    background:#c8b7b5;
    border-radius:50%;
    border:0px solid #c8b7b5; 
    animation: fadeIn;
    animation-duration: 6s;
    transition: .5s;
}

.cercle:hover{
    top: 30%;
    left: 30%;
    height: 40vw;
    width: 40vw;
    transition: 0.5s;
}

@keyframes slideIn{
    from{

    }

    to{
        transform: translateX(0);
    }
}
 
 @keyframes fadeIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
 }    

 @keyframes fadeInText{
    from{
        opacity: 0;
    }
    
    to{
        opacity: 0.2;
    }   
 }